{% extends "base.html" %}

{% block content %}

	<h1> 404 Error Page</h1>
	<h2>  class notfound_view_config(**settings) </h2>
	
	<h4>404 Error Message:  {{msg}}</h4>
	
	<p>
	Changing the Not Found View When Pyramid can't map a URL to view code, it invokes a Not Found View, which is a view callable. 
	The default Not Found View can be overridden through application configuration.
	</p>

	
{% endblock %}

